
.wrapper {
    width: 900px;
    display: flex;
    flex-direction: column;
    

}
.count-block{
    margin-left: 40px;
}
.line{
    display: flex;
    &-two{
        margin-top: 20px;
    }
}

.lines {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    
    &-margin{
        margin-top:20px;
    }
}

.count-block {
    border: 1px solid black;
    border-radius: 5px;
    &-value {
        
        height: 100px;
        text-align: center;
        margin: 0;
        vertical-align: bottom;
        font-size: 50px;
        p{
            
            color:rgb(73, 70, 70);
        }
    }

    &-buttons {
        
        display: flex;
        

        &__component {
            width: 60px;
            height: 60px;
            border: none;
            &-plus {
                background-image: url("./icons/plus-solid.svg");
                background-size: cover;
                background-position: center;
                background-color: rgb(20, 167, 81);

            border-bottom-left-radius: 4px;

            }
            &-refresh{
                background-image: url("./icons/sync-solid.svg");
                background-size: cover;
                background-position: center;
                background-color: rgb(233, 233, 23);
            }
            &-minus{
                background-image: url("./icons/minus-solid.svg");
                background-size: cover;
                background-position: center;
                background-color: rgb(221, 28, 28);
                border-bottom-right-radius: 4px;
            }
                
        }
    }
}