@import './shown-block/index.scss';


.coord-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    &__component{
        display: flex;
        justify-content: space-between;
    }
    h1{
        font-size: 80px;
    }
}